# Directories
/.git export-ignore
/.github export-ignore
/tests export-ignore

# Files
/.* export-ignore
/README.md export-ignore
codeception.dist.yml export-ignore
composer.json export-ignore
composer.lock export-ignore
package.json export-ignore
package-lock.json export-ignore
postcss.config.js export-ignore
