/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-importer-google-photos-album {

	.components-placeholder__fieldset {
		flex-direction: column;

		.import-progress {
			margin: 0 auto;
		}

		.import-progress-bar {
			margin-bottom: 16px;
		}
	}
}

.block-editor-block-inspector {

	.album-url {
		word-break: break-all;
	}
}
